<p>
    <button type="button" class="uk-button uk-button-small copy-script uk-float-right">{{ lang.copy }}</button>
    <a class="uk-button uk-button-small uk-active show-com" data-uk-button>{{ lang['show-comments'] }}</a>
    <a class="uk-button uk-button-small uk-active highl-code" data-uk-button>{{ lang['highlight-code'] }}</a>
    <a class="uk-button uk-button-small large-text" data-uk-button>{{ lang['enlarge-text'] }}</a>
</p>
<pre class="colored"></pre>